html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
:root {
  --site: rgb(254, 80, 0);
  --background: rgb(238, 238, 238);
  --white: rgb(255, 255, 255);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

