.main_login_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 8px;
    padding-bottom: 8px;
    background: var(--background);
}

.main_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1 1 0%;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
}

.main_login_box {
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    display: flex;
    width: 66.666667%;
    max-width: 56rem;
}

@media only screen and (max-width: 900px) {
    .main_signup {
        display: none;
        margin: 0px;
        padding: 0px;
    }

    .main_login {
        width: 100%;
        padding: 0;
    }

    .main_login_box {
        width: 100%;
        padding: 0px;
        margin: 0px;
        height: 100vh;
        max-width: 100%;
        position: fixed;
    }

    .login_page {
        width: 100% !important;
        margin-top: 40px;
    }
}

.login_page {
    width: 60%;
    padding: 20px;
}

.login_box {
    padding-top: 40px;
    padding-bottom: 40px;
}

.login_box_content {
    font-size: 30px;
    font-weight: 700;
    color: var(--site);
    margin-bottom: 30px;
}


.main_login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_form_email_box {
    background-color: var(--background);
    width: 256px;
    padding: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    border-radius: 9999px;
}


.login_form_username_icon {
    opacity: 0.4;
    margin: 8px;
}

.login_form_email {
    background-color: var(--background);
    outline: none;
    border: none;
    font-size: 14px;
    flex: 1 1 0%;
}

.login_form_password_box {
    background-color: var(--background);
    width: 256px;
    padding: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    border-radius: 9999px;
}

.login_form_lockout_icon {
    opacity: 0.4;
    margin: 8px;
}

.login_form_password {
    background-color: var(--background);
    outline: none;
    border: none;
    font-size: 14px;
    flex: 1 1 0%;
}

.login_form_password_visible {
    cursor: pointer;
    opacity: 0.5;
}

.login_rem_forgot {
    display: flex;
    width: 256px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.login_rem {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
}

.login_rem_checkbox {
    margin-right: 4px;
}

.login_forgot {
    font-size: 12px;
    line-height: 14px;
}

.login_button {
    border-width: 2px;
    border-style: solid;
    border-color: var(--site);
    border-radius: 9999px;
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
    color: var(--site);
}

.login_button:hover {
    background-color: var(--site);
    color: var(--white);
}

.login_or_content {
    opacity: 0.6;
    margin: 12px;
}

.login_icons {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.login_facebook_link {
    border-width: 2px;
    border-radius: 9999px;
    padding: 12px;
    margin-left: 4px;
    margin-right: 4px;
    border-style: solid;
    height: 46px;
    width: 46px;
    background: #282e46;
    color: var(--white);
}

.facebook_icon {
    font-size: 20px;
}

.login_google_link {
    border-width: 2px;
    border-radius: 9999px;
    padding: 12px;
    margin-left: 4px;
    margin-right: 4px;
    border-style: solid;
    height: 46px;
    width: 46px;
    background-image: conic-gradient(from 86deg, #4285f4, #34a853, #fbbc05, #ea4335);
    /* background-image: conic-gradient(#4285f4 0deg,#4285f4 90deg,#34a853 90deg,#34a853 180deg,#fbbc05 180deg,#fbbc05 270deg,#ea4335 270deg); */
    color: var(--white);
}

.google_icon {
    font-size: 20px;
}

.login_twitter_link {
    border-width: 2px;
    border-radius: 9999px;
    padding: 12px;
    margin-left: 4px;
    margin-right: 4px;
    border-style: solid;
    height: 46px;
    width: 46px;
    background: #1DA1F2;
    color: var(--white);
}

.twitter_icon {
    font-size: 18px;
}

/* signup section css */
.last_signup_link {
    color: var(--site);
}

.main_signup {
    width: 40%;
    background: var(--site);
    color: var(--white);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-top: 144px;
    padding-bottom: 144px;
    padding-left: 48px;
    padding-right: 48px;
}

.signup_main_content {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 8px;
}

.signup_box_line {
    border-width: 2px;
    border-style: solid;
    width: 40px;
    border-color: var(--white);
    display: inline-block;
    margin-bottom: 8px;
    background-color: #000;
}

.signup_content {
    margin-bottom: 40px;
}

.signup_button {
    border-width: 2px;
    border-style: solid;
    border-color: var(--white);
    border-radius: 9999px;
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
}

.signup_button:hover {
    background-color: var(--white);
    color: var(--site);
}